@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
body {
  @include flex-centered;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  width: 100%;
  background: #000000d0;
  color: white;
  min-height: 45%;
  margin: 1em;
  padding: 1.2em;
  border-radius: 30px;
  max-width: 420px;

  @media (min-width: 550px) {
    padding: 1.3em;
  }

  @media (min-height: 1080px) {
    max-width: 700px;
    padding: 2em;
  }

  .search {
    margin: 0.5em;

    form {
      width: 100%;
      @include flex-centered;
      gap: 10px;
    }

    .search-bar {
      align-self: center;
      width: calc(100% - 0.5em);
      border: none;
      outline: none;
      background: #7c7c7c2b;
      padding: 0.5em;
      border-radius: 10px;
      color: white;
      font-family: inherit;
      font-size: 0.9em;
      line-height: 2em;

      @media (min-width: 400px) {
        width: calc(100% - 1em);
        font-size: 1.2em;
      }
      @media (min-width: 550px) {
        width: calc(100% - 0.8em);
      }
      @media (min-height: 1080px) {
        width: calc(100% - 1.3em);
        font-size: 1.5em;
      }
    }

    .search-button {
      background: #7c7c7c2b;
      color: white;
      padding: 0.5em;
      border-radius: 10px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      font-size: 1em;

      @media (min-width: 400px) {
        font-size: 1.3em;
      }

      @media (min-height: 1080px) {
        font-size: 1.6em;
      }
    }

    .search-button:hover {
      background: #7c7c7c6b;
    }
  }

  .weather {
    display: none;
    padding: 0.5em;

    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1em;

      @media (min-width: 400px) {
        font-size: 1.3em;
      }
      @media (min-width: 550px) {
        margin-bottom: 15px;
      }

      @media (min-height: 1080px) {
        font-size: 2em;
        margin-bottom: 30px;
      }
    }

    .weather-city {
      text-transform: capitalize;
    }

    .iconAndTemp {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 1em;
      margin-bottom: 0.8em;

      @media (min-width: 400px) {
        margin-bottom: 0.7em;
      }

      @media (min-width: 600px) {
        margin-bottom: 1em;
      }
    }

    img {
      @media (min-height: 1080px) {
        width: 4.5em;
        height: 4.5em;
      }
    }
    h1 {
      margin: 0;
      font-size: 1.5em;
      line-height: 1.5em;

      @media (min-width: 400px) {
        font-size: 1.8em;
        line-height: 1.8em;
      }

      @media (min-height: 1080px) {
        font-size: 2.5em;
      }
    }

    .description {
      height: 120px;
      display: flex;
      font-size: 0.9em;
      gap: 15px;

      @media (min-width: 400px) {
        gap: 10px;
        font-size: 1em;
      }

      @media (min-width: 750px) and (min-height: 1000px) {
        font-size: 1.3em;
        margin-top: 1.5em;
      }

      @media (min-height: 1080px) {
        font-size: 1.5em;
        gap: 40px;
      }
    }

    .description-row {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .decription-row-item {
      min-height: 40px;
    }
    .weather-description::first-letter {
      text-transform: uppercase;
    }
  }
}
